//baidge in cards
.s-text-14 {
  @include set-typography(14, 19, 500);
}
//xxs
.s-text-16 {
  @include set-typography(16, 22, 500);

  @include set-media(md) {
    @include set-typography(14, 19, 500);
  }
}
//xs
.s-text-18 {
  @include set-typography(18, 24, 500);

  @include set-media(md) {
    @include set-typography(16, 22, 500);
  }
}
// tabs
.s-text-20-uppercase {
  @include set-typography(20, 26, 500);
  text-transform: uppercase;

  @include set-media(md) {
    @include set-typography(18, 24, 500);
    text-transform: uppercase;
  }
}
//text in table
.s-text-21 {
  @include set-typography(21, 28, 500);

  @include set-media(md) {
    @include set-typography(16, 22, 500);
  }
}
//links & headers in table
.s-text-21-uppercase {
  @include set-typography(21, 28, 500);
  text-transform: uppercase;

  @include set-media(md) {
    @include set-typography(18, 24, 500);
    text-transform: uppercase;
  }
}
//s
.s-text-24 {
  @include set-typography(24, 32, 500);

  @include set-media(md) {
    @include set-typography(20, 28, 500);
  }
}
//cards
.s-text-28 {
  @include set-typography(28, 37, 500);

  @include set-media(md) {
    @include set-typography(20, 28, 500);
  }
}
//cards – important
.s-text-36 {
  @include set-typography(36, 39, 500);

  @include set-media(md) {
    @include set-typography(24, 26, 500);
  }
}
.s-text-56-small {
  @include set-typography(56, 61, 500);
  letter-spacing: -0.01rem;

  @include set-media(md) {
    @include set-typography(34, 38, 500);
  }
}
//h2
.s-text-56 {
  @include set-typography(56, 61, 500);
  letter-spacing: -0.01rem;

  @include set-media(md) {
    @include set-typography(40, 44, 500);
  }
}
//h1
.s-text-88 {
  @include set-typography(88, 96, 500);
  letter-spacing: -0.01rem;

  @include set-media(md) {
    @include set-typography(80, 96, 500);
  }
}

.s-text-256 {
  @include set-typography(256, 256, 500);
  letter-spacing: -0.01rem;

  @include set-media(md) {
    @include set-typography(64, 58, 500);
  }
}
