.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @include set-typography(18, 24, 500);

  @include set-media(md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.5s, transform 0.5s;
    @include set-typography(20, 28, 500);
  }

  .header-desk {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: set-calc(8) set-calc($padding-x-desk-page) set-calc(8);
    background-color: $white;

    @include set-media(md) {
      display: none;
    }
  }

  .header-logo {
    grid-column: span 1;

    @include set-media(md) {
      position: relative;
      display: block;
      padding-top: 0;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      a:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  .header-nav {
    grid-column: 2/12;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: set-calc(4);

    &-item:not(:last-child) {
      padding-right: set-calc(24);
    }

    @include set-media(md) {
      display: none;
    }
  }

  .header-humburger {
    display: none;

    @include set-media(md) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      svg {
        margin-right: set-calc($padding-x-mob-page);
      }
    }
  }

  .header-mob {
    display: none;

    @include set-media(md) {
      display: flex;
      position: relative;
      transition: $d-hover opacity;
      padding: 0 0 0;
      flex-direction: column;
      background-color: $white;
    }

    &-title {
      position: relative;
      display: flex;
      justify-content: center;
      padding: set-calc(16) 0;
    }

    &-logo {
      position: relative;
      display: block;
      padding: set-calc(8) 0 0;

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-bottom: set-calc(8);
        border-bottom: set-calc(calc($s-gap/2)) solid $black-new;
      }
    }

    &-menu-main {
      display: flex;
      opacity: 0;
      pointer-events: none;

      .header-mob-item {
        display: flex;
        justify-content: center;
        padding: set-calc(24) 0;
        border-top: set-calc(calc($s-gap/2)) solid $black-new;
      }
    }

    &-menu-controls {
      display: flex;
      opacity: 0;
      flex-direction: column;
      align-items: flex-end;
      pointer-events: none;

      svg {
        margin-right: set-calc($padding-x-mob-page);
      }
    }

    &-spacing {
      display: flex;
      opacity: 0;
      flex: 1;
      pointer-events: none;
    }
  }
}

.is-mobile-menu-opened {
  position: fixed;
  overflow: scroll;
  height: 100%;
  z-index: 1000;

  .header-mob {
    display: flex;
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  

    &-title {
      display: none;
    }

    &-spacing {
      pointer-events: all;
      opacity: 1;
    }

    &-menu-controls {
      pointer-events: all;
      opacity: 1;
    }

    &-menu-main {
      flex-direction: column;
      pointer-events: all;
      opacity: 1;
    }
  }

  .header-humburger {
    display: none;
  }
}

.is-active {
  color: $orange !important;
}
