.footer.is-grid-12 
  .footer-contacts
    .footer-contacts-mail
      .s-text-56-small Contact me:
      a(href="mailto:ulianova.sofi@gmail.com").s-text-56-small ulianova.sofi@gmail.com
    .footer-contacts-social.s-text-21
      a(href="https://www.instagram.com/sofiulyanova/" target="_blank").social-item Instagram
      a(href="https://t.me/sofiulyanova" target="_blank").social-item Telegram
      a(href="https://www.youtube.com/@sofiulyanova/featured" target="_blank").social-item YouTube
      a(href="https://www.behance.net/sofiulianova" target="_blank").social-item Behance