.header
  .header-desk.is-grid-12
    .header-logo
      .header-logo-wrapper
        a(href="free-zone.html").s-text-18 sofiulyanova
    .header-nav
      .header-nav-item
        a(href='profile.html#profile').inline-link Work
      .header-nav-item
        a(href='free-zone.html').inline-link Drawings
      .header-nav-item
        a(href='catalogue.html')
          span.inline-link Online school ↗
      .header-nav-item
        a(href='free-zone.html').inline-link CV & Biography
  .header-mob
    .header-mob-logo
      .header-mob-logo-wrapper
        a(href="free-zone.html").s-text-21 Sofiia Ulianova – Artist – Illustrator
    .header-mob-title.s-text-88 Biography
    .header-humburger
      svg(width="72" height="44" viewBox="0 0 72 44" fill="none" xmlns="http://www.w3.org/2000/svg")
        line(x1="16.5" y1="13.5" x2="55.5" y2="13.5" stroke="#131313" stroke-linecap="square")
        line(x1="16.5" y1="21.5" x2="55.5" y2="21.5" stroke="#131313" stroke-linecap="square")
        line(x1="16.5" y1="29.5" x2="55.5" y2="29.5" stroke="#131313" stroke-linecap="square")
    .header-mob-spacing
    .header-mob-menu-controls
      svg(width="53" height="65" viewBox="0 0 53 65" fill="none" xmlns="http://www.w3.org/2000/svg")
        line(x1="16.7071" y1="22" x2="37" y2="42.2929" stroke="#131313" stroke-linecap="square")
        line(x1="16" y1="42.2929" x2="36.2929" y2="22" stroke="#131313" stroke-linecap="square")
    .header-mob-menu-main
      .header-mob-item 
        a.inline-link.s-text-36
          span.inline-text Work
      .header-mob-item 
        a.inline-link.s-text-36
          span.inline-text Drawings
      .header-mob-item 
        a.inline-link.s-text-36
          span.inline-text Online school ↗
      .header-mob-item 
        a.inline-link.s-text-36
          span.inline-text CV & Biography





