doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title about
    link(rel="stylesheet", href="styles/app.css")
    script(src="scripts/index.js")
  body
    .page
      include components/header.pug
      main.page-content
        .about-wrapper
          .about-header 
            .about-header-line.line-first
              span.s-text-18 Name
              h2 
                span.s-text-88 Sofiia Ulianova
            .about-header-line.line-second
              span.s-text-18 Focus
              h2 
                span.s-text-88 Artist-Illustrator
          .about-biography.is-grid-12
            .about-biography-description.s-text-24
              p Sofiia Ulianova (2022 – ) is a Russian artist and illustrator. After graduating in economics from the Higher School of Economics, Moscow, decided to continue her studies in art and design. In 2020 she graduated web design at Gorbunov Bureau School, in 2022 – illustration at British Higher School of Art and Design.
              p She draws for competitions and builds up her portfolio. She is developing in the field of editorial, children’s book illustrations and graphic novels.
              p Her current research question in drawing is "We swim in streams of light." For this reason, She uses transparency, smooth and flowing forms, experiment with  the warmth of colour.
            .about-biography-image 
              img(src="./images/sofiia_ulianova 1.png")
      include components/footer.pug