doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title about
    link(rel="stylesheet", href="styles/app.css")
  body
    .page
      include components/header.pug
      main.page-content
        .drawings-wrapper
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 Summer time
              .content-description.s-text-14 Watercolour, 42 x 47 cm. The concept: the sea is my childhood memories of holidays, summer and a wonderful underwater world.  When I enter the sea for the first time, I get a holiday feeling.
            .preview
              img(src="./images/sofiia_ulianova.jpg")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 Summer time
              .content-description.s-text-14 Watercolour, 42 x 47 cm. The concept: the sea is my childhood memories of holidays, summer and a wonderful underwater world.  When I enter the sea for the first time, I get a holiday feeling.
            .preview
              img(src="./images/30.05.2023-2.png")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 Summer time
              .content-description.s-text-14 Watercolour, 42 x 47 cm. The concept: the sea is my childhood memories of holidays, summer and a wonderful underwater world.  When I enter the sea for the first time, I get a holiday feeling.
            .preview
              img(src="./images/30.01.2023-1.png")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 Summer time
              .content-description.s-text-14 Watercolour, 42 x 47 cm. The concept: the sea is my childhood memories of holidays, summer and a wonderful underwater world.  When I enter the sea for the first time, I get a holiday feeling.
            .preview
              img(src="./images/0.jpg")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 Summer time
              .content-description.s-text-14 Watercolour, 42 x 47 cm. The concept: the sea is my childhood memories of holidays, summer and a wonderful underwater world.  When I enter the sea for the first time, I get a holiday feeling.
            .preview
              img(src="./images/1.jpg")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 Summer time
              .content-description.s-text-14 Watercolour, 42 x 47 cm. The concept: the sea is my childhood memories of holidays, summer and a wonderful underwater world.  When I enter the sea for the first time, I get a holiday feeling.
            .preview
              img(src="./images/3.jpg")
      include components/footer.pug