doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title about
    link(rel="stylesheet", href="styles/app.css")
    script(src="scripts/index.js")
  body
    .page
      include components/header.pug
      main.page-content
        .drawings-wrapper
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 Summer Time, 2023
              .content-description
                a(href="https://theaoi.com/northern-illustration-prize-2023/").s-text-14 For The Northern Illustration Prize 2023 – ‘The Sea’. 
                p.s-text-14 The concept: the sea is my childhood memories of holidays and summer. That's why I've drawm the first time, I enter the sea. Time, when I get a holiday feeling.
                p.s-text-14 Watercolour, 42 x 59.4 cm.
            .preview
              img(src="./images/7.06.2023.jpg")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 From The Warm Lights, 2023
              .content-description
                a(href="https://jpn-illust.com/english/compe/").s-text-14 For JIA Illustration Award 2023
                p.s-text-14 Watercolour, 29.7 x 42 cm.
            .preview
              img(src="./images/30.05.2023-1.jpg")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 From The Warm Lights, 2023
              .content-description
                a(href="https://jpn-illust.com/english/compe/").s-text-14 For JIA Illustration Award 2023
                p.s-text-14 Watercolour, 29.7 x 42 cm.
            .preview
              img(src="./images/30.05.2023-2.jpg")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 From The Warm Lights, 2023
              .content-description
                a(href="https://jpn-illust.com/english/compe/").s-text-14 For JIA Illustration Award 2023
                p.s-text-14 Watercolour, 29.7 x 42 cm.
            .preview
              img(src="./images/12.03.jpg")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 The Stranger Visiting Nature, 2023
              .content-description
                a(href="https://berrywaterfestbookillustration.ru/applications-mors2023eng").s-text-14 For MORS Festival 2023
                p.s-text-14 Watercolour, 29.7 x 42 cm.
            .preview
              img(src="./images/12.04.jpg")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 The Stranger Visiting Nature, 2023
              .content-description
                a(href="https://berrywaterfestbookillustration.ru/applications-mors2023eng").s-text-14 For MORS Festival 2023
                p.s-text-14 Watercolour, 29.7 x 42 cm.
            .preview
              img(src="./images/17.04.jpg")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 Empty Moscow, 2022
              .content-description
                p.s-text-14 Study project at BHSAD
                p.s-text-14 Watercolour, 21 x 29.7 cm.
            .preview
              img(src="./images/15.06-4.jpg")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 Empty Moscow, 2022
              .content-description
                p.s-text-14 Study project at BHSAD
                p.s-text-14 Watercolour, 21 x 29.7 cm.
            .preview
              img(src="./images/15.06-3.jpg")
          .drawings-item.is-grid-4
            .content
              .content-title.s-text-36 Empty Moscow, 2022
              .content-description
                p.s-text-14 Study project at BHSAD
                p.s-text-14 Watercolour, 21 x 29.7 cm.
            .preview
              img(src="./images/15.06-2.jpg")
      include components/footer.pug